{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "exclude": [
        "./built/**/*",
        "./built/*",
        "coverage"
    ],
    "reporter": [
        "lcov"
    ]
}
